.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding:20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
    
}
.nav__list {
    display: flex;
    justify-content: space-between;   
}
.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    /*positon:absolute는 가장 가까운 relative를 가진 부모 기준으로 움직임*/
    position: absolute;
    left: 15px;
    bottom: 15px;
    /*태그가 span이라서 heigh,width가 안 먹혔다 그래서 display:block을 사용
    display: block;*/ 
}
.nav__newsnotif {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    display: flex;
    font-size: 0;
    position: absolute;
    left: 35px;
}