.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /*값을 위 아래로 주거나 아니면 var(---)변수명을 써줌*/
    padding: var(--horizontal-space);
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}